
.pokemonsBack main {
    max-width: 1280px;
    min-width: 375px;
    margin: 0 auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat( auto-fit, minmax( 10rem, 1fr ));
    gap: 1rem;
}